<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="polaris-add" viewBox="0 0 20 20">
    <title>Add</title>
    <path d="{{ 'polaris-add.svg' | file_asset_url | asset_url }}"/>
  </symbol>
</svg>
